<%= link_to doctor_path(@user.id), class: "btn btn-link" do %>
  <p class="link-black text-center"><strong>back</strong></p>
<% end %>
<h1>All Prescriptions</h1>
<% if @prescriptions.blank? %>
  <h4>There are not prescriptions yet</h4>
<% else %>
  <div class="d-flex gap-3 flex-wrap mt-5">
<% @prescriptions.each do |pr| %>
<div class="card p-2">
    <div class="card-body">
      <p>Prescription for: <strong><%= @appointment.user.full_name %></strong></p>
      <p><%= pr.prescript %></p>
    </div>
  </div>
<%end%>
<%end%>
</div>
