<% if @user = current_user %>
 <%= link_to user_path(@user.id), class: "btn btn-link" do %>
    <p class="link-black text-center"><strong>back to user</strong></p>
  <% end %>
<% end %>

<h1>Your Prescription</h1>

<h6>Prescription from doctor: : <strong><%= @appointment.doctor.full_name %></strong></h6>
<p><%= @prescription.prescript %></p>
