<%= link_to prescriptions_path, class: "link-primary" do %>
    <p class="link-black text-center"><strong>All Prescriptions</strong></p>
<% end %>

<h1 class="text-center">Doctors Profile</h1>
<h4 class="text-center">Serve your appointment</h4>

<% if @appointments.blank? %>
  <h4>You dont have appointmnents yet</h4>
<% else%>
  <div class="d-flex gap-3 flex-wrap mt-5">
    <% @appointments.each do |a| %>
      <% if a.prescription %>
      <div class="card p-2">
        <div class="card-body">
          <strong class="text-danger">Closed </strong>
        <% else %>
          <div class="card p-2">
            <div class="card-body">
              <%= link_to new_prescription_path(appointment_id: a.id), class: "link-success p-2" do %>
                <p class=""><strong>Click here to write prescription</strong></p>
              <% end %>
            <% end %>
            <a><p>Patient name: <strong><%= a.user.full_name %></strong></p></a>
            <p>Appointment Date <strong><%= a.appointment_date.to_s(:custom_datetime) %></strong></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
