<div class="container-fluid d-flex flex-column align-items-center">
  <h1> Goodby Mister <%= current_admin_user.full_name%>!</h1>  
  <p class="text-xl-center"> For return login after signout </p>  
  <p><mark>Leaving click here:</mark></p>
  <div class="mb-2">
    <%= button_to "Signout", destroy_admin_user_session_path, 'method': :delete, class: "btn btn-primary text-white" %>     
  </div>
</div>
