<section>
<h1> Make new appointment </h1>
<% @doctors.each do |doc| %>
   <%= form_with model: @appointment, url: appointments_path, class: "card left" do |form| %>
   <%= form.label :appointment_date, hidden: true, class: "form-label" %> <br>  
   <%= form.datetime_select :appointment_date, required: true, autofocus: true, autocomplete: "datetime", class: "form-select" %><br>
        
    <% form.text_field :doctor_id,
    value: doc.id  %> <br>
     
    <% form.text_field :patient_id,
    value: current_user.id %> <br>
    
    <% form.text_field :closed,
    value: "false" %> <br>    
    
    <%= form.submit "Submit", class: "btn" %>
  <% end %>                
  
<% end %>
<section>