<h1>Your appointment</h1>

<p> Appointment Date: <%= @appointment.appointment_date %> </p> 
<p>Patient ID: <%= @appointment.user_id %> </p>
<p>Doctor ID  <%= @appointment.doctor_id %> </p> 
<p>Appointment ID:  <%= @appointment.id %> </p> 
