<%= link_to user_path(@user.id), class: "btn btn-link" do %>
    <p class="link-black text-center"><strong>back</strong></p>
<% end %>
<h1>Appointment</h1>
<p>You arange appointment on: <%= @appointment.appointment_date %></p>
<p>With doctor <%= @appointment.doctor_id %> </p>