
<nav class="inline-flex justify-between items-center">
  <% if user_signed_in? %>
     <div class="mb-2">
    <%= button_to "Patient Signout", destroy_user_session_path, 'method': :delete, class: "btn btn-warning text-black" %>
  </div>
    <% elsif doctor_signed_in? %>
<div class="mb-2">
  <%= button_to "Doctor Signout", destroy_doctor_session_path, 'method': :delete, class: "btn btn-warning text-black" %>     
</div>
    <% end %>     
</nav>

